<a href="https://colab.research.google.com/github/raianegoncalves/back-end-python/blob/main/Desafio_Correlacao_Regressao_Individual.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#para manipulaçao de dados
import pandas as pd
import numpy as np

# para visualização de dados
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
#leitura dos dados em csv
df = pd.read_csv("kc_house_data.csv", sep = ",")

In [6]:
#verificando as 5 primeiras linhas
df.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,n,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,n,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,n,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,n,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,n,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [9]:
#verificar se todas estão com dtype certos
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             9999 non-null   int64
 1   date           9999 non-null   object
 2   price          9999 non-null   float64
 3   bedrooms       9999 non-null   int64
 4   bathrooms      9999 non-null   float64
 5   sqft_living    9999 non-null   int64
 6   sqft_lot       9999 non-null   int64
 7   floors         9999 non-null   float64
 8   waterfront     9999 non-null   object
 9   view           9999 non-null   int64
 10  condition      9999 non-null   int64
 11  grade          9999 non-null   int64
 12  sqft_above     9999 non-null   int64
 13  sqft_basement  9999 non-null   int64
 14  yr_built       9999 non-null   int64
 15  yr_renovated   9999 non-null   int64
 16  zipcode        9999 non-null   int64
 17  lat            9999 non-null   float64
 18  long           9999 non-null   float64
 19  sqft_living15  9999 non-null   int64
 20  sqft_lot15     9999 non-null   int64
dtypes: float64(5), int64(14), object(2)
memory usage: 1.6+ MB

1- Codifique e exiba a matriz de correlação entre as variáveis numéricas.
Além disso, qual é a correlação entre o preço price e o número de
quartos bedrooms? Existe alguma diferença na correlação quando
consideramos apenas casas com uma área total sqft_living superior a
2000 pés quadrados?

In [11]:
# Selecionando apenas as colunas numéricas (excluindo a coluna 'date')
numerical_df = df.select_dtypes(include=['int64', 'float64'])

In [13]:
# Exibindo a matriz de correlação para as variáveis numéricas
correlation_matrix = numerical_df.corr()
print("Matriz de correlação:")
print(correlation_matrix)

Matriz de correlação:
                     id     price  bedrooms  bathrooms  sqft_living  sqft_lot  \
id             1.000000  0.005779  0.013855   0.007435     0.000415 -0.132510
price          0.005779  1.000000  0.299207   0.521193     0.702199  0.090720
bedrooms       0.013855  0.299207  1.000000   0.539449     0.573915  0.028929
bathrooms      0.007435  0.521193  0.539449   1.000000     0.764810  0.091268
sqft_living    0.000415  0.702199  0.573915   0.764810     1.000000  0.167809
sqft_lot      -0.132510  0.090720  0.028929   0.091268     0.167809  1.000000
floors         0.012260  0.276954  0.213565   0.494247     0.392802  0.021320
view           0.035295  0.398731  0.090767   0.205681     0.293149  0.064464
condition     -0.021744  0.044596  0.023435  -0.089029    -0.047375 -0.019324
grade          0.012872  0.651100  0.360955   0.660915     0.763526  0.121719
sqft_above    -0.007168  0.607763  0.464872   0.686311     0.869266  0.184876
sqft_basement  0.013732  0.326087  0.323817   0.311352     0.457630  0.006639
yr_built       0.011701  0.036116  0.164852   0.479104     0.324383  0.088609
yr_renovated  -0.015580  0.142752  0.027509   0.070821     0.068572 -0.003411
zipcode        0.001720 -0.054596 -0.146440  -0.204979    -0.191899 -0.126821
lat            0.000568  0.297156  0.001749   0.027687     0.062404 -0.069145
long           0.000084  0.015786  0.110417   0.217447     0.217292  0.225961
sqft_living15 -0.004075  0.583287  0.376492   0.579341     0.750315  0.158669
sqft_lot15    -0.146583  0.086809  0.019946   0.099278     0.192839  0.690367

                 floors      view  condition     grade  sqft_above  \
id             0.012260  0.035295  -0.021744  0.012872   -0.007168
price          0.276954  0.398731   0.044596  0.651100    0.607763
bedrooms       0.213565  0.090767   0.023435  0.360955    0.464872
bathrooms      0.494247  0.205681  -0.089029  0.660915    0.686311
sqft_living    0.392802  0.293149  -0.047375  0.763526    0.869266
sqft_lot       0.021320  0.064464  -0.019324  0.121719    0.184876
floors         1.000000  0.062255  -0.217362  0.463982    0.572961
view           0.062255  1.000000   0.044662  0.255709    0.174683
condition     -0.217362  0.044662   1.000000 -0.126440   -0.144689
grade          0.463982  0.255709  -0.126440  1.000000    0.760978
sqft_above     0.572961  0.174683  -0.144689  0.760978    1.000000
sqft_basement -0.236646  0.278300   0.164491  0.174460   -0.041740
yr_built       0.405597 -0.038961  -0.313085  0.438903    0.425474
yr_renovated   0.041302  0.113521  -0.074973  0.036942    0.036978
zipcode       -0.081076  0.072961  -0.005119 -0.194369   -0.253282
lat            0.042355 -0.003913  -0.016654  0.111048    0.011550
long           0.154666 -0.081587  -0.105288  0.205292    0.326653
sqft_living15  0.327327  0.289678  -0.088211  0.731650    0.730351
sqft_lot15     0.024016  0.044554  -0.025178  0.140770    0.210202

               sqft_basement  yr_built  yr_renovated   zipcode       lat  \
id                  0.013732  0.011701     -0.015580  0.001720  0.000568
price               0.326087  0.036116      0.142752 -0.054596  0.297156
bedrooms            0.323817  0.164852      0.027509 -0.146440  0.001749
bathrooms           0.311352  0.479104      0.070821 -0.204979  0.027687
sqft_living         0.457630  0.324383      0.068572 -0.191899  0.062404
sqft_lot            0.006639  0.088609     -0.003411 -0.126821 -0.069145
floors             -0.236646  0.405597      0.041302 -0.081076  0.042355
view                0.278300 -0.038961      0.113521  0.072961 -0.003913
condition           0.164491 -0.313085     -0.074973 -0.005119 -0.016654
grade               0.174460  0.438903      0.036942 -0.194369  0.111048
sqft_above         -0.041740  0.425474      0.036978 -0.253282  0.011550
sqft_basement       1.000000 -0.109653      0.072082  0.067710  0.105352
yr_built           -0.109653  1.000000     -0.222083 -0.380219 -0.163034
yr_renovated        0.072082 -0.222083      1.000000  0.064203  0.028556
zipcode             0.067710 -0.380219      0.064203  1.000000  0.261908
lat                 0.105352 -0.163034      0.028556  0.261908  1.000000
long               -0.148356  0.452273     -0.072915 -0.563085 -0.132353
sqft_living15       0.202844  0.352949     -0.001026 -0.270174  0.063485
sqft_lot15          0.011674  0.121355      0.003916 -0.156061 -0.063262

                   long  sqft_living15  sqft_lot15
id             0.000084      -0.004075   -0.146583
price          0.015786       0.583287    0.086809
bedrooms       0.110417       0.376492    0.019946
bathrooms      0.217447       0.579341    0.099278
sqft_living    0.217292       0.750315    0.192839
sqft_lot       0.225961       0.158669    0.690367
floors         0.154666       0.327327    0.024016
view          -0.081587       0.289678    0.044554
condition     -0.105288      -0.088211   -0.025178
grade          0.205292       0.731650    0.140770
sqft_above     0.326653       0.730351    0.210202
sqft_basement -0.148356       0.202844    0.011674
yr_built       0.452273       0.352949    0.121355
yr_renovated  -0.072915      -0.001026    0.003916
zipcode       -0.563085      -0.270174   -0.156061
lat           -0.132353       0.063485   -0.063262
long           1.000000       0.314069    0.274080
sqft_living15  0.314069       1.000000    0.211021
sqft_lot15     0.274080       0.211021    1.000000

In [14]:
# Obtendo a correlação entre 'price' e 'bedrooms'
correlation_price_bedrooms = numerical_df['price'].corr(numerical_df['bedrooms'])
print(f"\nCorrelação entre 'price' e 'bedrooms': {correlation_price_bedrooms}")

Correlação entre 'price' e 'bedrooms': 0.29920721616918206

In [15]:
# Filtrando as casas com 'sqft_living' superior a 2000 pés quadrados
filtered_df = numerical_df[numerical_df['sqft_living'] > 2000]

# Obtendo a correlação entre 'price' e 'bedrooms' para casas com 'sqft_living' > 2000
correlation_filtered = filtered_df['price'].corr(filtered_df['bedrooms'])
print(f"\nCorrelação entre 'price' e 'bedrooms' para 'sqft_living' > 2000: {correlation_filtered}")

Correlação entre 'price' e 'bedrooms' para 'sqft_living' > 2000: 0.11912115548964147

2- Existe alguma correlação entre o preço price e a área total da casa
sqft_living, considerando apenas casas com pelo menos dois
banheiros bathrooms?

In [16]:
# Filtrando as casas com pelo menos dois banheiros
filtered_df = df[df['bathrooms'] >= 2]

# Calculando a correlação entre 'price' e 'sqft_living' para casas com pelo menos dois banheiros
correlation_price_sqft_living = filtered_df['price'].corr(filtered_df['sqft_living'])
print(f"Correlação entre 'price' e 'sqft_living' para casas com pelo menos dois banheiros: {correlation_price_sqft_living}")

Correlação entre 'price' e 'sqft_living' para casas com pelo menos dois banheiros: 0.7067107107996193

3- Como a quantidade de banheiros bathrooms influencia na correlação
entre a área total da casa sqft_living e o preço price?

In [17]:
# Definindo os intervalos de banheiros para análise
bathroom_groups = sorted(df['bathrooms'].unique())

# Calculando a correlação entre 'price' e 'sqft_living' para diferentes grupos de banheiros
for bathrooms in bathroom_groups:
    filtered_df = df[df['bathrooms'] == bathrooms]
    correlation = filtered_df['price'].corr(filtered_df['sqft_living'])
    print(f"Correlação entre 'price' e 'sqft_living' para casas com {bathrooms} banheiros: {correlation}")

Correlação entre 'price' e 'sqft_living' para casas com 0.0 banheiros: 0.9168369900304426
Correlação entre 'price' e 'sqft_living' para casas com 0.5 banheiros: nan
Correlação entre 'price' e 'sqft_living' para casas com 0.75 banheiros: 0.35717777047322896
Correlação entre 'price' e 'sqft_living' para casas com 1.0 banheiros: 0.35952866286208274
Correlação entre 'price' e 'sqft_living' para casas com 1.25 banheiros: 0.16733066253227105
Correlação entre 'price' e 'sqft_living' para casas com 1.5 banheiros: 0.42340467593143566
Correlação entre 'price' e 'sqft_living' para casas com 1.75 banheiros: 0.44922451917233636
Correlação entre 'price' e 'sqft_living' para casas com 2.0 banheiros: 0.4469445867495836
Correlação entre 'price' e 'sqft_living' para casas com 2.25 banheiros: 0.598274075637526
Correlação entre 'price' e 'sqft_living' para casas com 2.5 banheiros: 0.5599451984669482
Correlação entre 'price' e 'sqft_living' para casas com 2.75 banheiros: 0.5223965282074604
Correlação entre 'price' e 'sqft_living' para casas com 3.0 banheiros: 0.5690329087491449
Correlação entre 'price' e 'sqft_living' para casas com 3.25 banheiros: 0.5446591202382951
Correlação entre 'price' e 'sqft_living' para casas com 3.5 banheiros: 0.5663917643233903
Correlação entre 'price' e 'sqft_living' para casas com 3.75 banheiros: 0.46553810504219867
Correlação entre 'price' e 'sqft_living' para casas com 4.0 banheiros: 0.5844797954618549
Correlação entre 'price' e 'sqft_living' para casas com 4.25 banheiros: 0.44476574630960036
Correlação entre 'price' e 'sqft_living' para casas com 4.5 banheiros: 0.7960398865810752
Correlação entre 'price' e 'sqft_living' para casas com 4.75 banheiros: 0.6493588759910098
Correlação entre 'price' e 'sqft_living' para casas com 5.0 banheiros: 0.747218507200078
Correlação entre 'price' e 'sqft_living' para casas com 5.25 banheiros: 0.9012170821743261
Correlação entre 'price' e 'sqft_living' para casas com 5.5 banheiros: 0.41162519094392613
Correlação entre 'price' e 'sqft_living' para casas com 5.75 banheiros: 1.0
Correlação entre 'price' e 'sqft_living' para casas com 6.0 banheiros: 1.0
Correlação entre 'price' e 'sqft_living' para casas com 6.75 banheiros: 1.0
Correlação entre 'price' e 'sqft_living' para casas com 7.5 banheiros: nan
Correlação entre 'price' e 'sqft_living' para casas com 7.75 banheiros: nan
Correlação entre 'price' e 'sqft_living' para casas com 8.0 banheiros: nan

/usr/local/lib/python3.10/dist-packages/numpy/lib/function_base.py:2889: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
/usr/local/lib/python3.10/dist-packages/numpy/lib/function_base.py:2748: RuntimeWarning: divide by zero encountered in divide
  c *= np.true_divide(1, fact)
/usr/local/lib/python3.10/dist-packages/numpy/lib/function_base.py:2748: RuntimeWarning: invalid value encountered in multiply
  c *= np.true_divide(1, fact)

4- Qual é a relação entre a condição da casa condition e o preço price,
considerando apenas casas com uma área total sqft_living superior a
3000 pés quadrados?

In [18]:
# Filtrando as casas com uma área total ('sqft_living') superior a 3000 pés quadrados
filtered_df = df[df['sqft_living'] > 3000]

# Calculando a correlação entre 'condition' e 'price' para casas com 'sqft_living' > 3000
correlation_condition_price = filtered_df['condition'].corr(filtered_df['price'])
print(f"Correlação entre 'condition' e 'price' para casas com 'sqft_living' superior a 3000 pés quadrados: {correlation_condition_price}")

Correlação entre 'condition' e 'price' para casas com 'sqft_living' superior a 3000 pés quadrados: 0.10527844723732609

5- Existe alguma correlação entre a localização geográfica lat e long e o
preço price para casas com pelo menos três quartos bedrooms?

In [19]:
# Filtrando as casas com pelo menos três quartos
filtered_df = df[df['bedrooms'] >= 3]

# Calculando a correlação entre 'lat' e 'price' para casas com pelo menos três quartos
correlation_lat_price = filtered_df['lat'].corr(filtered_df['price'])
print(f"Correlação entre 'lat' e 'price' para casas com pelo menos três quartos: {correlation_lat_price}")

# Calculando a correlação entre 'long' e 'price' para casas com pelo menos três quartos
correlation_long_price = filtered_df['long'].corr(filtered_df['price'])
print(f"Correlação entre 'long' e 'price' para casas com pelo menos três quartos: {correlation_long_price}")

Correlação entre 'lat' e 'price' para casas com pelo menos três quartos: 0.31255514248432165
Correlação entre 'long' e 'price' para casas com pelo menos três quartos: -0.0072753069929269365

6 - Calcule a correlação entre uma variável categórica(waterfront) e uma
variável numérica(price) usando ANOVA.

In [21]:
from scipy.stats import f_oneway
# Separando os grupos de 'price' com base nos valores da variável categórica 'waterfront'
group1 = df[df['waterfront'] == 0]['price']  # Casas sem vista para a água
group2 = df[df['waterfront'] == 1]['price']  # Casas com vista para a água

# Realizando a ANOVA entre os grupos
anova_result = f_oneway(group1, group2)

# Exibindo o resultado da ANOVA
print(f"Estatística F: {anova_result.statistic}, Valor p: {anova_result.pvalue}")

Estatística F: nan, Valor p: nan

/usr/local/lib/python3.10/dist-packages/scipy/stats/_stats_py.py:4102: DegenerateDataWarning: at least one input has length 0
  if _f_oneway_is_too_small(samples):